@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.app {
  @apply bg-gray-200;
  @apply w-screen;
  @apply h-screen;
}

.todo-wrapper {
  @apply flex justify-center items-center w-full h-full;
}

.todo-container {
  @apply bg-white pt-8 border rounded border-slate-200;
  width: calc(100% - 5rem);
  height: calc((100% - 5rem));
}

.input {
  @apply w-full p-2 border-2 rounded border-slate-200;
}

.error {
  @apply border-red-500;
}

.input:focus .input:active {
  border: 3px solid #555;
}

.chip {
  @apply inline-block hover:cursor-pointer pointer-events-auto;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
}

.button {
  @apply bg-slate-200 px-3 py-2 mx-2 border rounded-sm items-center cursor-pointer h-fit;
  transition: 0.3s;
}
